

<!-- BOOTSTRAP-->
<link rel="stylesheet" href="../static/vendor/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="../static/css/login.css">
<!--CSS-->
<link type="text/css" href="../static/css/main.css" rel="stylesheet">
<!--JS-->
<script src="../static/vendor/jquery/jquery.min.js"></script>
<script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
