<!DOCTYPE html>

<html lang="en">
  <head>

    <meta charset="utf-8">
    
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>No title defined</title>
    {% endif %}
    
    {% include 'includes.html' %}
  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="index.html">Crag Critique</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('listing') }}">View Locations</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="loginbutton" style="color:sandybrown;" href="{{ url_for('logout') }}"><b>Logout, {{ name }}</b></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <!-- Slide One - Set the background image for this slide in the line below -->
          <div class="carousel-item active" style="background-image: url('../static/images/yosemite.jpg')">
            <div class="carousel-caption d-none d-md-block">
              <h3>Yosemite</h3>
              <p>The centre of the rock climbing universe in California</p>
            </div>
          </div>
          <!-- Slide Two - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('../static/images/img2.jpg')">
            <div class="carousel-caption d-none d-md-block">
              <h3>Indian Creek</h3>
              <p>The famous red rock can be found in the desert in Utah</p>
            </div>
          </div>
          <!-- Slide Three - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('../static/images/img3.jpg')">
            <div class="carousel-caption d-none d-md-block">
              <h3>Shawankgunks</h3>
              <p>The most famous climbing location on the East Coast</p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </header>

    <!-- Page Content -->
    <div class="container">

      <h1 class="my-4" style="color:tomato">Welcome to Crag Critique {{ name }}</h1>

      <div class="row">
        <div class="col-lg-6">
          <h3>How To Use The Website:</h3>
          <p>Just simply browse through different climbing areas, and upvote on it or downvote on it depending on if you like it or not. These locations will include some of the classics such as:</p>
          <ul>
            <li>Yosemite</li>
            <li>Indian Creek</li>
            <li>The Gunks</li>
            <li>Squamish</li>
            <li>Devil's Tower</li>
          </ul>
          </div>
        <div class="col-lg-6">
          <img class="img-fluid rounded" src="../static/images/yosemite.jpeg" height="450" width="700" alt="yos" />
        </div>
      </div>
      <!-- /.row -->

      <hr>

      <!-- Call to Action Section -->
      <div class="row mb-4">
        <div class="col-md-12">
          <a class="btn btn-lg btn-secondary btn-block" href="/listing">Check them out!</a>
        </div>
      </div>

    </div>
    
  

  </body>

</html>
