<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>No title defined</title>
    {% endif %}
    {% include 'includes.html' %}
  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="index.html">Crag Critique</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('listing') }}">View Locations</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="loginbutton" style="color:sandybrown;" href="{{ url_for('logout') }}"><b>Logout, {{ name }}</b></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">Top Climbing Spots in North America</h1>

      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="index.html">Home</a>
        </li>
        <li class="breadcrumb-item active">Locations</li>
      </ol>


      <!-- Marketing Icons Section -->
      <div class="row">
        {% for location in myLocation %}
          <div class="col-lg-4 mb-4">
            <div class="card h-100">
              <h4 class="card-header">{{location.name}}</h4>
              <div class="card-body">
                <p class="card-text">{{location.detail}}</p>
                <p class="card-text">{{location.location}}</p>
              
              </div>
              <div class="card-footer">

                <form method="POST" action="{{ url_for('vote') }}" id="{{ location.id }}">
                  {{ form.csrf_token }}
                  {{ form.location(type='hidden', value=location.id) }}
                  
                  {{ form.vote(class="btn btn-primary vote", value='Upvote') }}

                  {{ form.vote(class="btn btn-danger vote", value='Downvote') }} 

                  <span style="color:crimson">Score: {{location.score}}</span>

              </form>

              </div>
            </div>
          </div>
        {% endfor %}
        
      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->


  </body>
  <!--script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='score.js') }}"></script>
  <script src="{{ url_for('static', filename='ajax_js.js') }}"></script-->
</html>
