
{% import "bootstrap/wtf.html" as wtf %}
<html>
  <head>
{% include 'includes.html' %}
{% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>No title defined</title>
    {% endif %}
</head>
<body id="LoginForm">
<div class="container">
<div class="login-form">
<div class="main-div">
   
    <form id="Login" method="POST" action="/login">

        <div class="form-group">


            <h1>You have successfully been logged out!</h1>
            <h3>If you'd like to log back in click <a href="/login"><b>here</b></a></h3>

        </div>

        <!--div class="form-group">

            <input type="password" class="form-control" id="inputPassword" placeholder="Password">

        </div-->
    

    </form>
    </div>

</div></div>


</body>
</html>
