
{% import "bootstrap/wtf.html" as wtf %}
<html>
  <head>
{% include 'includes.html' %}
{% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>No title defined</title>
    {% endif %}
</head>
<body id="LoginForm">
<div class="container">
<h1 class="form-heading">Welcome to the Crag Critique</h1>
<div class="login-form">
<div class="main-div">
   
    <form id="Login" method="POST" action="/login">

        <div class="form-group">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
              <div class=flashes>
              {% for message in messages %}
                <h3>{{ message }}</h3>
              {% endfor %}
              </div>
            {% endif %}
          {% endwith %}

            <!--input type="email" class="form-control" id="inputEmail" placeholder="Email Address"-->
            {{ form.hidden_tag() }}
            {{ wtf.form_field(form.username) }}
            {{ wtf.form_field(form.password) }}

        </div>

        <button type="submit" class="btn btn-primary">Login</button>

    </form>
    <a href="/signup"><button type="submit" class="btn btn-info">Register</button></a>
    </div>

</body>
</html>
